enviroment=production
YOUTUBE_API_KEY=
YOUTUBE_HANDLE=
YOUTUBE_CHANNEL_ID=
VITE_API_BASE_URL=
LIMIT=5
THEME=dark
SHOW_DATE=true
SHOW_VIEWS=true
YOUTUBE_DEBUG_LOG=false
RESEND_API_KEY=
ALERT_FROM=onboarding@resend.dev
ALERT_TO=
ALERTS_DISABLED=false

# Netlify Edge Limmiter Function
EDGE_RATE_LIMIT_ENABLED=true
EDGE_RATE_LIMIT_WINDOW_MS=10000
EDGE_RATE_LIMIT_MAX_REQUESTS=25
EDGE_RATE_LIMIT_MODE=block
EDGE_RATE_LIMIT_HEADER=true
EDGE_RATE_LIMIT_ALLOWLIST=
EDGE_RATE_LIMIT_LOG=false
